.logo{
  font-size: 18px;
  text-decoration: solid;
}
.headline{
  font-size:18px;
  text-align: center;
  display: inline-block;
  width:400px ;
  margin: 8px 0;
  padding: 12px 10px;
}

.form-group1{
  text-align: center;
  display:inline-block;
  width:400px;
  box-sizing: border-box;
  padding:7px 5px; 
  margin:2px; 
  border-width: 0.2rem;  
}
.form-group1 input{
  width:250px;
}
.form-check{
  text-align: center;
  display:inline-block;
  width:400px;
  box-sizing: border-box;
  padding:7px 5px; 
  margin:2px; 
}
.button-sub{
  text-align: center;
  display:inline-block;
  width:400px;
  box-sizing: border-box;
  border-radius:10px;
  padding: 10px 5px; 

}

.login{
  background-color: white;
  color: black;
  text-align: center;
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 45%;
  transform: translate(-35%,-45%); 
  width:400px;
  text-decoration: solid;
  margin: 8px 0;
  padding: 40px 30px;
  box-sizing: border-box; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 
  text-overflow: clip;
    
}
.login button{
  background-color: rgb(242, 200, 121);
  color: white;
  font-size: 16px;
  border:none;
  border-bottom: 1px solid rgb(216, 161, 59);
  border-radius: 6px;
  padding: 15px 35px;
  margin:8px 0px;
  width:180px;
  height: auto;
  line-height:2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  
}
.login button{
  background:rgb(115, 166, 237);
} 

.entrance button {
  background-color: rgb(53, 53, 179);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline;
  float: right;
}
.text-danger{
  color: red;
 
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgray; 
  padding: 10px; 
  text-align: center; 
}
 

