
  body{
    color: #000;
    /* font-family:'RobotoL', sans-serif; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

}

 
    
@font-face{
    font-family:"RobotoI" ;
    font-weight:900 ;
    src: url("../fonts/Roboto-Italic.ttf");
    
}
@font-face{
    font-family: "RobotoR";
    font-weight: 400;
    src:url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "RobotoL";
    font-weight: 300;
    src:url("../fonts/Roboto-Light.ttf");
}    


.access a,
.access a:active,
.access a:visited,
.access a:focus {
  color: #ff5500;
}
.access a:hover {
  color: #a20d01;
}




.list-menu{
  border: none;
  width:100px;
  text-align: center;
  text-decoration:none;
  display: inline-flex;
  font-size:18px;
  color:#000;
  font-weight: bold;
  text-decoration:wavy;
  cursor: pointer;
  float: right;

}
.list-menu img{
  width:17px;
  height:17px ;  
}

.hr-with-shadow {
  border: none;
  height:1px; /* Ύψος της γραμμής */
  width:100%;
  background-color: transparent; /* Διαφανής χρώμα φόντου */
  left:-10px;
  box-shadow: 
  0px 2px 4px rgba(0, 0, 0, 0.9), 
  -5px 0px 5px -5px rgba(0, 0, 0, 0.9), /* Σκιάσματα προς τα αριστερά */
  -5px 0px 5px -5px rgba(0, 0, 0, 0.9); /*Σκιάσματα προς τα δεξιά */
}

.logo{
  font-size:28px;
  display: inline;
}



.headline{
  width:500px;
  display:inline;
  font-size:25px;
}
.list{
  font-size:17px;
}
.list2{
  font-size:13px;
}

.part{
  display:inline;
  width: 400px;
  float:inline-start;
  padding:15px;
}
.fav-title{
  font-size:20px;
  font-family: "RobotoR";
  font-weight: 400;
  color: #ff5500;
  /* text-align: left; */
  width: 170px;
  margin-left: 18px;

 
 
} 
.favs {
  font-size:20px;
  font-weight:400;
  font-family: "RobotoR";
  text-decoration: none;
  color: black;

}


.reviews-title{
  font-size:18px;
  font-family: "RobotoR";
  font-weight: 400;
  color: #ff5500;
  margin-left: 18px;
  width: 170px;
}
.review-items{
  font-size:20px;
  font-weight:400;
  font-family: "RobotoR";
  text-decoration: none;
  color: black;

}


  aside{
    width:300px;
    display: inline-block;
    vertical-align: top;
    padding:25px;
    
  }
  
.page-title{
  background:#ff5500;
    border-radius:4px;          
  }
  .page-title h2{
    color: #fff;
    font-weight: 300;
    font-family:RobotoL;

  }
  /* .hotel{ */
    /* border:5px solid lightblue; */
    /* max-width:87%;
    border-width:5px;
    padding:10px 5px;
    margin-block:10px;
    display:block;
    position:relative;  */
  /* } */
  .brand {
    font-weight: 200;
    font-size: x-large;
    transform: translateX(10px); /* Move 10px to the right */
}

.area {
    font-size: large;
    font-weight: 100;
    opacity: 0.6;
    transform: translateX(10px); /* Move 10px to the right */
}
#grid-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

#areaA {
  background-color: rgb(142, 139, 139);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 70px 0px 65px;
  margin: 0px -45px 10px 0px; /* Adjusted margin */
  text-align: center;
  width: 30%; /* Adjusted width */
}
.totalCost{
  text-align: center;
  position: relative; 
  right:35px; 
  bottom:10px;
}

#areaB {
  background-color: gainsboro;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 25px 0px 15px;
  margin: 0px 0px 10px -50px; /* Adjusted margin */
  text-align: center;
  width: 68%; /* Adjusted width */
}
.infoBookings{
  text-align: center;
  position: relative; 
  right:25px; 
  bottom:10px;

}
.vertical-line {
  border-left: 3px solid rgb(142, 139, 139);;
  height: 0.8em;
  margin: 3px -1px 3px 2px;

}

  .hotel-search button{
    width:180px;
    padding:8px 4px;
    margin: 4px 2px;;
    text-align: center;
    text-decoration:none;
    font-size:13px;
    font-family:RobotoL;
    color:white;
    background-color:#ff5500 ;
    border-radius:4px;
    font-weight: bold;
    text-decoration:wavy;
    cursor: pointer;
    float:right;
  

  }

  .star {
    color: #ccc;
    display: inline-block;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
  }
  
  .star.checked {
    color: #ffcc00;
  }

  


  section.hotel-list{
    width:950px;
    display: inline-block; 
  }

  img {
    width: 300px;
    height:250px;
    float:left;
}
  article.hotel h1{
    width:700px;
    color: #000;
    font-size:25px;
    line-height:1px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;   
  }
  article.hotel h2{
    width:700px;
    color: gray;
    font-size: 15px;
    line-height:1px;
    text-transform: uppercase;
    text-align: center;
     
  }
  article.hotel p{
    word-break: break-word;
    width:920px;
    color:#333;
    text-align: center;
    font-size: 16px;
    line-height:20px;
    text-align: justify;
    border-spacing: 1em 0.5em;
    transform: translateX(10px);

  }
  
  footer {
    position: relative;
    bottom:-10px;
    left:-10px;
    right:-10px;
    width: 100%;
    background-color: lightgray; 
    padding:10px; 
    text-align: center; 
    height: 2%;
    /* margin-top: -10px;
    margin-bottom: -10px; */
    margin-right: -20px;
    clear: both;
}
.dropdown {
  position: relative;
  display: inline;
  float: right;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:100px;
  box-shadow: none;
  border-radius: 0;
  padding: 5px 2px;
  z-index: 1;
  right:40px; 
  top:90%;
  left:10px;
  transition:opacity 0.8s ease;

  /* top: calc(100% + 10px); */
 }

  


.dropdown:hover .dropdown-content {
  display: block;

}
 
  

 
