
body{
  color: #000;
  overflow-x: hidden;
  overflow-y: auto;



  
    /* font-family:'RobotoI', sans-serif;       */
}
main{
  margin:5px 50px 15px 50px;
  padding: 0,20px,0,20px;
  height: auto;
}

p,
h1,
h2,
h2,
h4,
h5,
h6{
    font-family:"RobotoR"; 
    
}
@font-face{
    font-family:"RobotoI" ;
    font-weight:900 ;
    src: url("../fonts/Roboto-Italic.ttf");
    
}
@font-face{
    font-family: "RobotoR";
    font-weight: 400;
    src:url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "RobotoL";
    font-weight: 300;
    src:url("../fonts/Roboto-Light.ttf");
} 
a,
a:active,
a:visited,
a:focus {
  color: #ff5500;
}
a:hover {
  color: #a20d01;
}
button,
input[type="button"] {
  background: #f50;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ca4502;
  cursor: pointer;
}
  button:hover,
  input[type="button"]:hover {
      background: #a20d01;
  }
  button a,
  button a:hover,
  button a:active,
  button a:visited,
  button a:focus {
      color: #fff;
  }



  .list-menu{
    border: none;
    width:100px;
    text-align: center;
    text-decoration:none;
    display: inline-flex;
    font-size:18px;
    color:#000;
    font-weight: bold;
    text-decoration:wavy;
    cursor: pointer;
    float: right;

  }
  .list-menu img{
    width:17px;
    height:17px ;  
  }
  
  .hr-with-shadow {
    border: none;
    height:1px; /* Ύψος της γραμμής */
    width:100%;
    background-color: transparent; /* Διαφανής χρώμα φόντου */
    left:-10px;
    box-shadow: 
    0px 2px 4px rgba(0, 0, 0, 0.9), 
    -5px 0px 5px -5px rgba(0, 0, 0, 0.9), /* Σκιάσματα προς τα αριστερά */
    -5px 0px 5px -5px rgba(0, 0, 0, 0.9); /*Σκιάσματα προς τα δεξιά */
  }

  .logo{
    font-size:28px;
    display: inline;
  }
  

.headline{
  width:500px;
  display:inline;
  font-size:25px;}

.image-room img{
  width:700px;
  margin-right: 25px;
} 
.grid-container1{
  display: flex;
  justify-content:baseline;
  align-items: center;
  /* gap:40px; */
  background-color:#ff5500;
  width:75%;
  border: 1px solid #ddd;

}


.grid-container{
  display:grid;
  grid-template-columns:auto; 
  gap:20px;
  background-color:#ff5500;;
  width:75%;
  align-items: center;
  /* flex-wrap: wrap;
  overflow-x: auto;
  border-collapse: collapse; */
  border: 1px solid #ddd;
  }
 
.details{
  font-size: 17px;
  /* justify-content:left; */
  /* right: 0;
  left:0; */
  width: 900px;
  white-space: nowrap; /* Prevent line breaks */




  }

.reviews{
  font-size: 17px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  /* margin:5px,10px,0px,10px; */

}
 


.title-reviews{
  display: flex;
  align-items: center;
  /* flex-grow:10; */
 
}
.favoriteHeart{
  margin-right: 350px;

}

.price{
  font-size: 17px;
  white-space: nowrap;
  /* width:100% ; */
  margin-left:-170px;
  display: inline;
 

}
.star {
  color: #ccc;
  display: inline-block;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.star.selected {
  color: #ffcc00;
}


 /* hides the checkbox */
input {
  display: none;
}

/* changes the color when selected */
input:checked ~ label {
  color: red;
  
}



/* for styling purpose only */
label {
  font-size:2em;
  
}

/*  
  .vertical {
    border-left:3px solid black;
    height:5%;
    position:absolute;
    left:45%;
    } */




.options img{
   width: 18px;
   text-align:center;
  
}
.roomReviews{
  font-size: 18px;
  margin-top: 5px; /* Move the text 20 pixels down */
  padding-left:10px; /* Move the text 30 pixels to the right */
  position: relative; /* Set the positioning method */
  top: -55px; 
  left: 5px; /* Move the text 50 pixels to the right */
}
.description{
  display: flex;
  width:75%;
  color:#333;
  text-align: left;
  font-size: 16px;
  line-height:20px;
  white-space:pre-line;
  padding-left:10px;
  top: -65px;
  left: 5px;
  position: relative; 
  
}
.roomDetails {
  height:65px; /* Set the height of the vertical line */
  min-height: 60px;
  width:3px; /* Set the width of the vertical line */
  background-color: #ff5500 ; /* Set the color of the vertical line */
  margin: 30px 10px 0 1px; /* Add some spacing to the top, left, and right of the vertical line */
  border: none; /* Remove default border */
  display: inline-block; /* Ensure the vertical line is displayed as an inline block */
  vertical-align: middle; /* Align the vertical line vertically in the middle */
  position: relative; /* Enable positioning */
  top: 20px; /* Move the line down by 20 pixels */
 
}
.lineReview{
  position: absolute; /* Set to absolute positioning */
  top:50%; /* Align with top of container */
  left:3.5%; /* Adjust the left position as needed */
  width:3px; /* Set the width of the vertical line */
  height:50%;
  background-color: #ff5500; /* Set the color of the line */
  transform: translateX(-40%)translateY(-12%); /* Center the line horizontally */
  /* margin: 10px 4px;  */
}
  

.totalReviews{
  top:-1px;
  position: relative;
  height: auto;
}

.vertical-lineRoom {
  height: 100%; 
  width: 3px; 
  background-color:#ff5500 ; 
  display: inline-block;
}



.bookings{
    border-radius:4px;
    width:100px;
    margin: 2px;
    padding:10px 0px;
    text-align: center;
    text-decoration:none;
    display:inline;
    position: relative;
    font-size:12px;
    color:black;
    background-color:#ff5500;;
    font-weight: bold;
    text-decoration:wavy;
    cursor: pointer;
    float: right;
}



.links button{
  width:170px;
  top:850px; 
  right:400px; 
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius:3px;
  cursor: pointer;
  position: absolute;
  /* float: right; */

}

 textarea {
  width:20%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  top:-3px;
  left: -120px;
  right:0;
  resize: vertical; /* Allows vertical resizing of textarea */
}

.form-group_landing button {
  width: 10%;
  padding: 5px 10px;
  background-color:#007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;

}




/* Optional: Style button on hover */
.comment-box button:hover {
  background-color: #0056b3;
}



footer {
  position: relative;
  bottom:-10px;
  left:-10px;
  right:-10px;
  width: 100%;
  background-color: lightgray; 
  padding:20px; 
  text-align: center; 
  height: 2%;
  /* margin-top: -10px;
  margin-bottom: -10px; */
  margin-right: -20px;
  clear: both;
}





 
.ratingStars{
  font-size: 10px;
  float: left;
  height: 46px;
  padding: 5px 10px;
  display: inline;
  position: relative;
  right:10px;
}
.ratingStars:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.ratingStars:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:20px;
  color:#ccc;
}
.ratingStars:not(:checked) > label:before {
  content: '★ ';
}
.ratingStars > input:checked ~ label {
  color: #ffc700;    
}
.ratingStars:not(:checked) > label:hover,
.ratingStars:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.ratingStars > input:checked + label:hover,
.ratingStars > input:checked + label:hover ~ label,
.ratingStars > input:checked ~ label:hover,
.ratingStars > input:checked ~ label:hover ~ label,
.ratingStars > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.dropdown {
  position: relative;
  display: inline;
  float: right;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width:100px;
  box-shadow: none;
  border-radius: 0;
  padding: 5px 2px;
  z-index: 1;
  right:40px; 
  top:90%;
  left:10px;
  transition:opacity 0.8s ease;

  /* top: calc(100% + 10px); */
 }

  


.dropdown:hover .dropdown-content {
  display: block;

}
 
