


 
  body{
  color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  /* margin-bottom:-60px;  */
  position: relative; /* Καθορίζει τη θέση του footer */

}


  


  
    /* font-family:'RobotoI', sans-serif;       */

/* main {
  padding-bottom: 60px; /* Adjust the value as needed to provide space for the footer */
 */

p,
h1,
h2,
h2,
h4,
h5,
h6{
    font-family:"RobotoR"; 
    
}
@font-face{
    font-family:"RobotoI" ;
    font-weight:900 ;
    src: url("../fonts/Roboto-Italic.ttf");
    
}
@font-face{
    font-family: "RobotoR";
    font-weight: 400;
    src:url("../fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "RobotoL";
    font-weight: 300;
    src:url("../fonts/Roboto-Light.ttf");
} 
a,
a:active,
a:visited,
a:focus {
  color: #ff5500;
}
a:hover {
  color: #a20d01;
}
button,
input[type="button"] {
  background: #f50;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ca4502;
  cursor: pointer;
}
  button:hover,
  input[type="button"]:hover {
      background: #a20d01;
  }
  button a,
  button a:hover,
  button a:active,
  button a:visited,
  button a:focus {
      color: #fff;
  }
  
.list-menu{
    border: none;
    width:100px;
    text-align: center;
    text-decoration:none;
    display: inline-flex;
    font-size:18px;
    color:#000;
    font-weight: bold;
    text-decoration:wavy;
    cursor: pointer;
    float: right;

  }
  .list-menu img{
    width:17px;
    height:17px ;  
  }
  
  .hr-with-shadow {
    border: none;
    height:1px; /* Ύψος της γραμμής */
    width:100%;
    background-color: transparent; /* Διαφανής χρώμα φόντου */
    left:-10px;
    box-shadow: 
    0px 2px 4px rgba(0, 0, 0, 0.9), 
    -5px 0px 5px -5px rgba(0, 0, 0, 0.9), /* Σκιάσματα προς τα αριστερά */
    -5px 0px 5px -5px rgba(0, 0, 0, 0.9); /*Σκιάσματα προς τα δεξιά */
  }


.part{
  display:inline;
  width: 400px;
  float:inline-start;
  padding:15px;
}


select{
  width:200px;
  display: inline-block;
  padding:5px;
}
.capacity,.rooms,.location{
  background-color:lightgray;
  width:200px;
  border-radius: 4px;
  text-align: center;
  }

.slider {
  width:197px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider-label{
  font-size:14px;
  font-style:normal;  
}

input[type="number"]{
  background-color:#ff5500;
  border: none;
  color:white;
  padding: 5px 15px;
  border-radius: 4px;
  text-align: center;
  display:inline-block;
  width:64px;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
 
 }
 


#datepicker-start,#datepicker-end{
  width:163px;
  padding: 5px 15px ;
  border-radius:4px;
  text-align:center;
  
}

.btnSearch button{
  width:195px;
  display: inline-block;
  padding:5px;
  border-radius: 4px;
  background-color: dodgerblue;
}
.logo{
  font-size:28px;
  display: inline;
}

.hotel-search {
  /* width:700px; */
  display:inline;
  float: inline-start;
  padding:25px 2px;
}

 

.headline{
  width:700px;
  display: inline;
  vertical-align: top;
  padding:10px 0 55px 15px;
  font-size: 16px;
  color:#ff5500;
  margin-left: 3px;

}

  .page-title{
    background:#ff5500;
    border-radius:4px;
             
  }
  .page-title h2{
    color: #fff;
    font-weight: 300;
    font-family:RobotoL;

  }


.area {
    font-size: large;
    font-weight: 100;
    opacity: 0.6;
    transform: translateX(10px); /* Move 10px to the right */
}

#grid-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

#areaA {
  background-color: rgb(142, 139, 139);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 70px 0px 65px;
  margin: 0px -25px 10px 0px; /* Adjusted margin */
  text-align:justify;
  width:18.5%; /* Adjusted width */
  position: relative;
 
 
}
.price-label{
  text-align: center;
  position: absolute; 
  left:90px; 
  bottom:10px;
 
  
}
.guests-room{
  text-align: center;
  position: relative; 
  left:90px; 
  bottom:10px;
 
}

#areaB {
  background-color: gainsboro;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 25px 0px 15px;
  margin: 0px 0px 10px -60px; /* Adjusted margin */
  text-align:justify;
  width: 64%; /* Adjusted width */
  position: relative;
}
.vertical-line {
  border-left: 3px solid rgb(142, 139, 139);;
  height: 0.8em;
  margin: 4px -1px 3px 2px;

}


  


  .hotel-search button{
    width:180px;
    padding:8px 4px;
    margin: 4px 2px;;
    text-align: center;
    text-decoration:none;
    font-size:13px;
    font-family:RobotoL;
    color:white;
    background-color:#ff5500 ;
    border-radius:4px;
    font-weight: bold;
    text-decoration:wavy;
    cursor: pointer;
    float:right;
  

  }    
  
  
  section.hotel-list{
    width:950px;
    display: inline-block; 
  }

  img {
    width: 300px;
    height:250px;
    float:left;
}
  article.hotel h1{
    width:700px;
    color: #000;
    font-size:25px;
    line-height:1px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;   
  }
  article.hotel h2{
    width:700px;
    color: gray;
    font-size: 15px;
    line-height:1px;
    text-transform: uppercase;
    text-align: center;
     
  }
  article.hotel p{
    word-break: break-word;
    width:920px;
    color:#333;
    text-align: center;
    font-size: 16px;
    line-height:20px;
    text-align: justify;
    border-spacing: 1em 0.5em;
    transform: translateX(10px);

  }
  
 
  footer {
    position: relative;
    top:90px;
    left:-10px;
    right:-10px;
    width: 100%;
    background-color: lightgray; 
    padding:10px; 
    text-align: center; 
    height: 2%;
    margin-right: -20px;
    clear: both;
}
  

   fieldset {
    border:none;
  }
  label {
    display: block;
    margin: 30px 0 0 0;
  }
  .overflow {
    height: 200px;
  }

  /* body>header{
    box-shadow: 0px 4px 1px 2px rgba(0,0,0,0.25);
  } */

  .dropdown {
    position: relative;
    display: inline;
    float: right;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:100px;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 2px;
    z-index: 1;
    right:40px; 
    top:90%;
    left:10px;
    transition:opacity 0.8s ease;
  
    /* top: calc(100% + 10px); */
   }
  
    
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  
  }
   


  
  
